<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDO-txo9vlcOnpTUPSl0V9VviLuzQc6bNk</string>
	<key>GCM_SENDER_ID</key>
	<string>137052532260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>today.hru.patientapp</string>
	<key>PROJECT_ID</key>
	<string>hru-today-patient</string>
	<key>STORAGE_BUCKET</key>
	<string>hru-today-patient.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137052532260:ios:4a9c638966aa0730cc32b1</string>
</dict>
</plist>